<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />

    <title>FinTracker</title>
  </head>
  <body style="background-color: rgb(209, 209, 209);">
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">Financial literacy is important because it equips us with the knowledge and skills we need to manage money effectively
              . Make Fintracker your first tool for your journey to financial literacy.</p>
            </div>
            {% if user.is_authenticated %}
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Account</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Reset Password</a></li>
                <li><a href="{% url 'logout' %}" class="text-white">Log out</a></li>
              </ul>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
          <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center">
            <strong>Finance Tracker</strong>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    {% block content %}{% endblock content %}

    <footer class="text-muted py-5" style="background-color: rgb(199, 199, 199);">
      <div class="container">
        <p class="float-end mb-1">
          <a href="#">Back to top</a>
        </p>
        <p class="mb-1">Finance Tracker is &copy; Shashwat, but feel free to download and customize it for yourself!</p>
        <p class="mb-0">Find me on <a href="https://www.facebook.com/s.poud3l/" target="_blank">Facebook</a> or
          <a href="https://github.com/Shashwat-pd/finance-tracker" target="_blank"> GitHub</a> .</p>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
